<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>ONTIME</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>

</head>

<body oncontextmenu="return false" class="snippet-body" id="body-pd">

	<div th:fragment="header">
		<header class="header" id="header">
			<div class="header_toggle">
				<i class="bx bx-menu" id="header-toggle"></i>

			</div>
			<div class="container1">
				<div class="header_icon">
					<i class="bx bxs-user-circle "></i>
				</div>
			</div>

		</header>
		
			
			
		<div class="l-navbar" id="nav-bar">
			<nav class="nav">
				<div>
					<div class="logo">
						<img class="logo_img" href="#" src="/img/logo/logo.png"></img>

					</div>
					<div class="nav_list">
						<a th:href="@{/tablero/listar}" class="nav_link active"> <i
							class="bx bx-grid-alt nav_icon"></i> <span class="nav_name">Tablero</span>
						</a> <a th:href="@{/eventopagina/listar}" class="nav_link"> <i
							class="bx bx-bell na_icon"> </i> <span class="nav_name">Eventos</span>
						</a> <a th:href="@{/foto/listar}" class="nav_link"> <i
							class="bx bx-photo-album nav_icon"> </i> <span class="nav_name">Album</span>
						</a> <a th:href="@{/deuda/listar}" class="nav_link"> <i
							class="bx bx-dollar-circle nav_icon"> </i> <span class="nav_name">Deudas</span>
						</a> <a th:href="@{/prueba/listar}" class="nav_link"> <i
							class="bx bx-book-open nav_icon"> </i> <span class="nav_name">Pruebas</span>
						</a> <a th:href="@{/chart/see}" class="nav_link"> <i
							class="bx bx-bar-chart-alt-2 nav_icon"> </i> <span class="nav_name"> Reportes</span>
						</a>

					</div>
				</div>
				<div sec:authorize="hasRole('ROLE_JOVEN') or hasRole('ROLE_ADULTO')">
					<a class="nav_link" th:href="@{/logout}"> 
						<i class="bx bx-log-out nav_icon"> </i> 
						<span class="nav_name">Logout</span>
					</a>
				</div>
			</nav>
		</div>
	</div>
	
		<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	
	
</body>

</html>