<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=en>

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Ontime</title>
		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>

	</head>

	<body oncontextmenu="return false" class="snippet-body" id="body-pd">
    	<div th:replace="fragments/header :: header"> </div>

    	<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column" align="center">
    				
    				<div>
						<img class ="logo_img" href="#" src="/img/logo/logo2.jpg"></img>
					</div>
    				
    					On Time: La calidad de organización hecha aplicación
    					
    					<div class="modal"></div>
    				</div>
    			</div>
    		</form>
    	</div>

	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>