<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Error404</title>


<link rel="stylesheet" href="/css/estilo404.css">
</head>

<body>
    <div id="container">
        <div class="content">
            <h2>404</h2>
            <h4>¡Alto ahi, campeón!</h4>
            <p>La pagina a la que estás intentando entrar,
            no está habilitada para el tipo de cuenta que tienes :(</p>
            <a type="button" th:href="@{/tablero/listar}">Regresar a Tablero</a>
        </div>
    </div>
    <script type="text/javascript">
        var container = document.getElementById('container');
        window.onmousemove = function (e){
            var x = e.clientX/5;
                y = e.clientY/5;
            container.style.backgroundPositionX = x + 'px';
            container.style.backgroundPositionY = y + 'px';
        }
    </script>

</body>

</html>