<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Evento</title>
		
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous" />
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/evento/registrar}" method="post" th:object="${evento}">
    			<div class="form-group">
    				<label for="idpet">ID:</label>
    				<input type="text" class="form-control" th:field="*{idEvento}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nombreEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombreEvento')}" 
								th:errors="*{nombreEvento}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="fecha">FECHA:</label>
    					<input type="date" class="form-control" th:field="*{fechaEvento}" id="fecha"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('fechaEvento')}" 
								th:errors="*{fechaEvento}">
						</div>    					
    				</div>    
    				<div class="form-group">
    					<label for="nombre">DESCRIPCION:</label>
    					<input type="text" class="form-control" th:field="*{descripcionEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('descripcionEvento')}" 
								th:errors="*{descripcionEvento}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="complej">COMPLEJIDAD:</label>
    					<input type="number" class="form-control" th:field="*{numcomplejidad}" id="complej"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('numcomplejidad')}" 
								th:errors="*{numcomplejidad}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="persona">PERSONA</label>
    					<select class="form-control" th:field="*{persona.idPersona}">
    						<option th:each="p: ${listaPersonas}"
    							th:value="${p.idPersona}"
    							th:text="${p.nombrePersona}"
    							th:selected="(${p.idPersona} == *{persona.idPersona})">
    						</option>    					
    					</select>
    				</div>    

    				<div class="form-group">
    					<label for="tipoevento">TIPO EVENTO</label>
    					<select class="form-control" th:field="*{tipoEvento.idTipovento}">
    						<option th:each="t: ${listaTipoEventos}"
    							th:value="${t.idTipoEvento}"
    							th:text="${t.nombreTipoEvento}"
    							th:selected="(${t.idTipovento} == *{tipoEvento.idTipovento})">
    						</option>    					
    					</select>
    				</div>    
   				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/pet/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>