<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Evento</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
				
	</head>

	<body>
    	 	<div th:replace="fragments/sidebar :: sidebar" id="panel"
		class="activepanel"></div>

	<div class="bg row">
		
		<div th:replace="fragments/nav :: nav" class="row topbar col-lg-12"></div>
		<div class="container">
    		<form th:action="@{/eventopagina/registrarEvento}" method="post" th:object="${evento}">
    			<div class="form-group">
    				<label for="idEvento">ID:</label>
    				<input type="text" class="form-control" th:field="*{idEvento}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nombreEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombreEvento')}" 
								th:errors="*{nombreEvento}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="fecha">FECHA:</label>
    					<input type="date" class="form-control" th:field="*{fechaEvento}" id="fecha"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('fechaEvento')}" 
								th:errors="*{fechaEvento}">
						</div>    					
    				</div>    
    				<div class="form-group">
    					<label for="nombre">DESCRIPCION:</label>
    					<input type="text" class="form-control" th:field="*{descripcionEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('descripcionEvento')}" 
								th:errors="*{descripcionEvento}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="complej">COMPLEJIDAD:</label>
    					<input type="number" class="form-control" th:field="*{numcomplejidad}" id="complej"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('numcomplejidad')}" 
								th:errors="*{numcomplejidad}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="persona">PERSONA</label>
    					<select class="form-control" th:field="*{persona.idPersona}">
    						<option th:each="p: ${listaPersonas}"
    							th:value="${p.idPersona}"
    							th:text="${p.nombrePersona}"
    							th:selected="(${p.idPersona} == *{persona.idPersona})">
    						</option>    					
    					</select>
    				</div>    

    				<div class="form-group">
    					<label for="tipoevento">TIPO EVENTO</label>
    					<select class="form-control" th:field="*{tipoEvento.idTipoEvento}">
    						<option th:each="t: ${listaTipoEventos}"
    							th:value="${t.idTipoEvento}"
    							th:text="${t.nombreTipoEvento}"
    							th:selected="(${t.idTipoEvento} == *{tipoEvento.idTipoEvento})">
    						</option>    					
    					</select>
    				</div>    
   				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/eventopagina/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
	</div>
    	
    	
    	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>