<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Eventos</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
	
</head>

	<body>
	<div th:replace="fragments/sidebar :: sidebar" id="panel"
		class="activepanel"></div>
			
	<div class="bg row">
			<div th:replace="fragments/nav :: nav" class="row topbar col-lg-12"></div>
	<div class="container">
			
		
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    					<a 	style="border-bottom-color: green; margin-bottom: 15px; margin-right: 10px" th:href="@{/eventopagina/irRegistrarEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-plus"></span> +Agregar Evento
    					</a>
    					
						<a 	style="border-bottom-color: green; margin-bottom: 15px" th:href="@{/eventopagina/irBuscarEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-search"></span> Buscar
    					</a>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">Codigo</th>
    								<th class="text-center">Nombre</th>
    								<th class="text-center">Fecha</th>
    								<th class="text-center">Descripcion</th>
    								<th class="text-center">Complejidad</th>
    								<th class="text-center">Persona</th>
    								<th class="text-center">Tipo Evento</th>
    								<th class="text-center">Operacion 01</th>
    								<th class="text-center">Operacion 02</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="eventopagina: ${listaEventos}">
    								<td class="text-center" th:text="${eventopagina.idEvento}"></td>
    								<td class="text-center" th:text="${eventopagina.nombreEvento}"></td>
    								<td class="text-center" th:text="${#dates.format(eventopagina.fechaEvento, 'dd/MM/yyyy')}"></td>
    								<td class="text-center" th:text="${eventopagina.descripcionEvento}"></td>
    								<td class="text-center" th:text="${eventopagina.numcomplejidad}"></td>
    								<td class="text-center" th:text="${eventopagina.persona.nombrePersona}"></td>
    								<td class="text-center" th:text="${eventopagina.tipoEvento.nombreTipoEvento}"></td>
    								<td class="text-center"><a th:href="@{/eventopagina/eliminarEvento?id=}+${eventopagina.idEvento}">Eliminar</a></td>    								
    								<td class="text-center"><a th:href="@{'/eventopagina/modificarEvento/'}+${eventopagina.idEvento}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
    	
    		<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    					<a 	style="border-bottom-color: green; margin-bottom: 15px; margin-right: 10px" th:href="@{/eventopagina/irRegistrarTipoEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-plus"></span> +Agregar Tipo Evento
    					</a>
    					
						<a 	style="border-bottom-color: green; margin-bottom: 15px" th:href="@{/eventopagina/irBuscarTipoEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-search"></span> Buscar
    					</a>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">Codigo</th>
    								<th class="text-center">Nombre</th>
    								<th class="text-center">Descripcion</th>
    								<th class="text-center">Operacion 01</th>
    								<th class="text-center">Operacion 02</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="tipoeventopagina: ${listaTipoEventos}">
    								<td class="text-center" th:text="${tipoeventopagina.idTipoEvento}"></td>
    								<td class="text-center" th:text="${tipoeventopagina.nombreTipoEvento}"></td>
    								<td class="text-center" th:text="${tipoeventopagina.descripcionTipoEvento}"></td>
    								<td class="text-center"><a th:href="@{/eventopagina/eliminarTipoEvento?id=}+${tipoeventopagina.idTipoEvento}">Eliminar</a></td>    								
    								<td class="text-center"><a th:href="@{'/eventopagina/modificarTipoEvento/'}+${tipoeventopagina.idTipoEvento}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
	
	
	</div>
    	
    	    	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>