<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>	
		<meta charset="UTF-8"></meta>
		<title>Personas</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
	
</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    					<a 	style="border-bottom-color: green" th:href="@{/persona/irRegistrar}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-plus"></span> Agregar
    					</a>
    					
						<a 	style="border-bottom-color: green" th:href="@{/persona/irBuscar}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-search"></span> Buscar
    					</a>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">NOMBRE</th>
    								<th class="text-center">CONTRASENA</th>
    								<th class="text-center">TIPO PERSONA</th>
    								<th class="text-center">SUELDO</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="persona: ${listaPersonas}">
    								<td th:text="${persona.idPersona}"></td>
    								<td th:text="${persona.nombrePersona}"></td>
    								<td th:text="${persona.contrasenaPersona}"></td>
    								<td th:text="${persona.tipoPersona}"></td>
    								<td th:text="${persona.sueldoPersona}"></td>
    								<td><a th:href="@{/persona/eliminar?id=}+${persona.idPersona}">Eliminar</a></td>    								
    								<td><a th:href="@{'/persona/modificar/'}+${persona.idPersona}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
    	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>