<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Notificaciones</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	rel="stylesheet" />

<link rel="stylesheet" href="/css/tablas.css">

</head>

<body oncontextmenu="return false" class="snippet-body" id="body-pd">
	<div th:replace="fragments/header :: header"></div>

	<div class="container1">
		<div class="row">
			<form id="myform" th:action="@{/notificacion/buscar}" method="post"
				th:object="${notificacion}">
				<div class="col-md-12 column">

					<div class="midiv">
						<div class="row" style="align-items: center">

							<div class="col-sm-1">

								<button type="button" class="botones one btn btn-primary"
									data-toggle="modal" data-target="#exampleModalLong">+</button>

							</div>


							<div class="col-6">

								<input type="text" class="form-control"
									th:field="*{nameNotificacion}" id="buscar"
									placeholder=" buscar por Nombre, Descripción y Evento">
								</input>
							</div>
							<div class="col-sm">

								<button type="submit"
									class="botones dos btn btn-primary">Buscar
									Notificación</button>
							</div>
							<div class="col-sm">

								<a href="/notificacion/listar"
									class="botones dos btn btn-primary">Cancelar</a>
							</div>
						</div>

					</div>

					<div class="contabla">

					<table class="content-table" id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">Codigo</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Descripcion</th>
								<th class="text-center">Evento</th>
								<th class="text-center">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="notificacion: ${listaNotificaciones}">
								<td class="text-center" th:text="${notificacion.idNotificacion}"></td>
								<td class="text-center"
									th:text="${notificacion.nameNotificacion}"></td>
								<td class="text-center"
									th:text="${notificacion.descriptionNotificacion}"></td>
								<td class="text-center"
									th:text="${notificacion.evento.nombreEvento}"></td>
								<td class="text-center"><a
									th:href="@{'/notificacion/modificar/'}+${notificacion.idNotificacion}"><i
										class="icono edit bx bxs-pen nav_icon"> </i></a> <a
									th:href="@{/notificacion/eliminar?id=}+${notificacion.idNotificacion}">
										<i class="icono delete bx bxs-trash nav_icon"> </i>
								</a></td>

							</tr>
						</tbody>
					</table>
							<div th:if="${mensaje}" class="alert alert-danger">
								<p th:text="${mensaje}"></p>
						</div>
					</div>

				</div>
			</form>
		</div>
		
	</div>

	<div class="modal fade" id="exampleModalLong" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLongTitle"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Notificacion</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form th:action="@{/notificacion/registrar}" method="post"
						th:object="${notificacion}">
						<div class="form-group">

							<label for="id">ID:</label> <input type="text"
								class="form-control" th:field="*{idNotificacion}"></input>

							<div class="form-group">
								<label for="nombre">Nombre:</label> <input type="text"
									class="form-control" th:field="*{nameNotificacion}" id="nombre"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('nameNotificacion')}"
									th:errors="*{nameNotificacion}"></div>
							</div>

							<div class="form-group">
								<label for="descripcion">Descripcion:</label> <input type="text"
									class="form-control" th:field="*{descriptionNotificacion}"
									id="descripcion"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('descriptionNotificacion')}"
									th:errors="*{descriptionNotificacion}"></div>
							</div>

							<div class="form-group">
								<label for="evento">Evento:</label> <select class="form-control"
									th:field="*{evento.idEvento}">
									<option th:each="e: ${listaEventos}" th:value="${e.idEvento}"
										th:text="${e.nombreEvento}"
										th:selected="(${e.idEvento} == *{evento.idEvento})">
									</option>
								</select>
							</div>

						</div>
						<button type="submit" class="btn btn-primary">Aceptar</button>
						<a href="/notificacion/listar" class="btn btn-danger">Cancelar</a>
					</form>

				</div>
			</div>
		</div>
	</div>

	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
</body>

</html>