<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Eventos</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
	
</head>

	<body>
    	<div th:replace="fragments/sidebar :: sidebar" id="panel"
		class="activepanel"></div>
		<div class="bg row">
			<div th:replace="fragments/nav :: nav" class="row topbar col-lg-12"></div>
			<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    					<a 	style="border-bottom-color: green" th:href="@{/eventopagina/irRegistrarEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-plus"></span> Agregar
    					</a>
    					
						<a 	style="border-bottom-color: green" th:href="@{/eventopagina/irBuscarEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-search"></span> Buscar
    					</a>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">NOMBRE</th>
    								<th class="text-center">FECHA</th>
    								<th class="text-center">DESCRIPCION</th>
    								<th class="text-center">COMPLEJIDAD</th>
    								<th class="text-center">PERSONA</th>
    								<th class="text-center">TIPO EVENTO</th>
    								<th class="text-center">OPERACION</th>
    								<th class="text-center">OPERACION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="eventopagina: ${listaEventos}">
    								<td th:text="${eventopagina.idEvento}"></td>
    								<td th:text="${eventopagina.nombreEvento}"></td>
    								<td th:text="${#dates.format(eventopagina.fechaEvento, 'dd/MM/yyyy')}"></td>
    								<td th:text="${eventopagina.descripcionEvento}"></td>
    								<td th:text="${eventopagina.numcomplejidad}"></td>
    								<td th:text="${eventopagina.persona.nombrePersona}"></td>
    								<td th:text="${eventopagina.tipoEvento.nombreTipoEvento}"></td>
    								<td><a th:href="@{/eventopagina/eliminarEvento?id=}+${eventopagina.idEvento}">Eliminar</a></td>    								
    								<td><a th:href="@{'/eventopagina/modificarEvento/'}+${eventopagina.idEvento}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
    	
    		<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    					<a 	style="border-bottom-color: green" th:href="@{/eventopagina/irRegistrarTipoEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-plus"></span> Agregar
    					</a>
    					
						<a 	style="border-bottom-color: green" th:href="@{/eventopagina/irBuscarTipoEvento}"
    						id="add-row" type="button" class="btn btn-primary btn-md left-block">
    						<span class="glyphicon glyphicon-search"></span> Buscar
    					</a>
    					
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">CODIGO</th>
    								<th class="text-center">NOMBRE</th>
    								<th class="text-center">DESCRIPCION</th>
    								<th class="text-center">OPERACION</th>
    								<th class="text-center">OPERACION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="eventopagina: ${listaTipoEventos}">
    								<td th:text="${eventopagina.idTipoEvento}"></td>
    								<td th:text="${eventopagina.nombreTipoEvento}"></td>
    								<td th:text="${eventopagina.descripcionTipoEvento}"></td>
    								<td><a th:href="@{/eventopagina/eliminarTipoEvento?id=}+${eventopagina.idTipoEvento}">Eliminar</a></td>    								
    								<td><a th:href="@{'/eventopagina/eliminarTipoEvento/'}+${eventopagina.idTipoEvento}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
		</div>
		
    	
    	
    	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>