<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8"></meta>
		<title>Eventos</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/tablas.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500;600;700&family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">

</head>

<body style="font-family: sans-serif;" oncontextmenu="return false" class="snippet-body" id="body-pd">
    	<div th:replace="fragments/header :: header"> </div>

	<div class="container">	
    		<form id="myform">
    			<div class="row">
    				<div class="col-md-12 column">
    					    					
    					<button style="margin-top: 50px;" type="button" class="botones dos btn btn-primary"
  						 data-toggle="modal" data-target="#exampleModalLong">
						  Agregar Evento
						</button>	
    					
						<button style="margin-top: 50px;" type="button" class="botones dos btn btn-primary"
  						 data-toggle="modal" data-target="#exampleModalLong">Buscar Evento</button>	
    					
    					
    					<table style="text-align:center; margin: 0 auto;" class="content-table" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">Nombre</th>
    								<th class="text-center">Fecha</th>
    								<th class="text-center">Descripcion</th>
    								<th class="text-center">Complejidad</th>
    								<th class="text-center">Tipo Evento</th>
    								<th class="text-center">Operacion 01</th>
    								<th class="text-center">Operacion 02</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="eventopagina: ${listaEventos}">
    								<td class="text-center" th:text="${eventopagina.nombreEvento}"></td>
    								<td class="text-center" th:text="${#dates.format(eventopagina.fechaEvento, 'dd/MM/yyyy')}"></td>
    								<td class="text-center" th:text="${eventopagina.descripcionEvento}"></td>
    								<td class="text-center" th:text="${eventopagina.numcomplejidad}"></td>
    								<td class="text-center" th:text="${eventopagina.tipoEvento.nombreTipoEvento}"></td>
    								<td class="text-center"><a th:href="@{/eventopagina/eliminarEvento?id=}+${eventopagina.idEvento}">Eliminar</a></td>    								
    								<td class="text-center"><a th:href="@{'/eventopagina/modificarEvento/'}+${eventopagina.idEvento}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>
    	
    	    	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Evento</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
      	  
				<form th:action="@{/eventopagina/registrarEvento}" method="post" th:object="${evento}">
    			<div class="form-group">
    				<label for="idEvento">ID:</label>
    				<input type="text" class="form-control" th:field="*{idEvento}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nombreEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombreEvento')}" 
								th:errors="*{nombreEvento}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="fecha">FECHA:</label>
    					<input type="date" class="form-control" th:field="*{fechaEvento}" id="fecha"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('fechaEvento')}" 
								th:errors="*{fechaEvento}">
						</div>    					
    				</div>    
    				<div class="form-group">
    					<label for="nombre">DESCRIPCION:</label>
    					<input type="text" class="form-control" th:field="*{descripcionEvento}" id="nombre"></input>
						
						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('descripcionEvento')}" 
								th:errors="*{descripcionEvento}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="complej">COMPLEJIDAD:</label>
    					<input type="number" class="form-control" th:field="*{numcomplejidad}" id="complej"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('numcomplejidad')}" 
								th:errors="*{numcomplejidad}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="persona">PERSONA</label>
    					<select class="form-control" th:field="*{persona.idPersona}">
    						<option th:each="p: ${listaPersonas}"
    							th:value="${p.idPersona}"
    							th:text="${p.nombrePersona}"
    							th:selected="(${p.idPersona} == *{persona.idPersona})">
    						</option>    					
    					</select>
    				</div>    

    				<div class="form-group">
    					<label for="tipoevento">TIPO EVENTO</label>
    					<select class="form-control" th:field="*{tipoEvento.idTipoEvento}">
    						<option th:each="t: ${listaTipoEventos}"
    							th:value="${t.idTipoEvento}"
    							th:text="${t.nombreTipoEvento}"
    							th:selected="(${t.idTipoEvento} == *{tipoEvento.idTipoEvento})">
    						</option>    					
    					</select>
    				</div>    
   				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/eventopagina/listar" class="btn btn-danger">Cancelar</a>
    		</form> 
        
     		 </div>
      </div>
    </div>
  </div>
    	
    		<div class="container">
    		<form id="myform">
    			<div>
    				<div>
    					
    					<button style="margin-top: 30px;" type="button" class="botones dos btn btn-primary"
  						 data-toggle="modal" data-target="#exampleModalLong2">
						  Agregar Tipo Evento
						</button>	
    					
						<button style="margin-top: 30px;" type="button" class="botones dos btn btn-primary"
  						 data-toggle="modal" data-target="#exampleModalLong2">Buscar Tipo Evento</button>	
    					
    					<table class="content-table" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">Codigo</th>
    								<th class="text-center">Nombre</th>
    								<th class="text-center">Descripcion</th>
    								<th class="text-center">Operacion 01</th>
    								<th class="text-center">Operacion 02</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="tipoeventopagina: ${listaTipoEventos}">
    								<td class="text-center" th:text="${tipoeventopagina.idTipoEvento}"></td>
    								<td class="text-center" th:text="${tipoeventopagina.nombreTipoEvento}"></td>
    								<td class="text-center" th:text="${tipoeventopagina.descripcionTipoEvento}"></td>
    								<td class="text-center"><a th:href="@{/eventopagina/eliminarTipoEvento?id=}+${tipoeventopagina.idTipoEvento}">Eliminar</a></td>    								
    								<td class="text-center"><a th:href="@{'/eventopagina/modificarTipoEvento/'}+${tipoeventopagina.idTipoEvento}">Modificar</a></td>
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    		</form>
    	</div>	
    	
    		<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle2">Tipo Evento</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
      	  
				<form th:action="@{/eventopagina/registrarTipoEvento}" method="post" th:object="${tipoevento}">
    			<div class="form-group">
    				<label for="idEvento">ID:</label>
    				<input type="text" class="form-control" th:field="*{idTipoEvento}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nombreTipoEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombreTipoEvento')}" 
								th:errors="*{nombreTipoEvento}">
						</div>    					
    				</div>

    				<div class="form-group">
    					<label for="nombre">DESCRIPCION:</label>
    					<input type="text" class="form-control" th:field="*{descripcionTipoEvento}" id="nombre"></input>
						
						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('descripcionTipoEvento')}" 
								th:errors="*{descripcionTipoEvento}">
						</div>    					
    				</div>
   				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/eventopagina/listar" class="btn btn-danger">Cancelar</a>
    		</form> 
        
     		 </div>
      </div>
    </div>
  </div>
    	    	
    <script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>