<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Deudas</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	rel="stylesheet" />

<link rel="stylesheet" href="/css/tablas.css">

</head>

<body oncontextmenu="return false" class="snippet-body" id="body-pd">
	<div th:replace="fragments/header :: header"></div>
	<div class="container1">

		<div class="row">
			<form id="myform" th:action="@{/deuda/buscar}" method="post"
				th:object="${deuda}">
				<div class="col-md-12 column">


					<div class="midiv">
						<div class="row" style="align-items: center">

							<div class="col-sm-1">

								<button type="button" class="botones uno btn btn-primary"
									data-toggle="modal" data-target="#exampleModalLong">+</button>

							</div>

							<div class="col-6">
								<input type="text" class="form-control"
									th:field="*{nameCreditor}" id="buscar"
									placeholder=" buscar por Nombre"> </input>
							</div>

							<div class="col-sm">

								<button type="submit" class="botones dos btn btn-primary">Buscar
									Deuda</button>
							</div>


							<div class="col-sm">


								<a href="/deuda/listar" class="botones dos btn btn-primary">Cancelar</a>

							</div>

						</div>


					</div>
					<div class="contabla">

						<table class="content-table" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">Codigo</th>
									<th class="text-center">Nombre</th>
									<th class="text-center">Monto</th>
									<th class="text-center">Fecha</th>
									<th class="text-center">Operaciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="deuda: ${listaDeudas}">
									<td class="text-center" th:text="${deuda.idDeuda}"></td>
									<td class="text-center" th:text="${deuda.nameCreditor}"></td>
									<td class="text-center" th:text="${deuda.moneypayment}"></td>
									<td class="text-center"
										th:text="${#dates.format(deuda.paymentDate, 'dd/MM/yyyy')}"></td>
									<td class="text-center"><a
										th:href="@{'/deuda/modificar/'}+${deuda.idDeuda}"><i
											class="icono edit bx bxs-pen nav_icon"> </i></a> <a
										th:href="@{/deuda/eliminar?id=}+${deuda.idDeuda}"><i
											class="icono delete bx bxs-trash nav_icon"> </i></a></td>
								</tr>
							</tbody>
						</table>
						<div th:if="${mensaje}" class="alert alert-danger">
							<p th:text="${mensaje}"></p>
						</div>
					</div>
				</div>

			</form>
		</div>
		

	</div>


	<div class="modal fade" id="exampleModalLong" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLongTitle"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Deuda</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form th:action="@{/deuda/registrar}" method="post"
						th:object="${deuda}">
						<div class="form-group">

							<label for="id">ID:</label> <input type="text"
								class="form-control" th:field="*{idDeuda}"></input>

							<div class="form-group">
								<label for="nombre">Nombre:</label> <input type="text"
									class="form-control" th:field="*{nameCreditor}" id="nombre"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('nameCreditor')}"
									th:errors="*{nameCreditor}"></div>
							</div>

							<div class="form-group">
								<label for="fecha">Fecha:</label> <input type="date"
									class="form-control" th:field="*{paymentDate}" id="fecha"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('paymentDate')}"
									th:errors="*{paymentDate}"></div>
							</div>

							<div class="form-group">
								<label for="monto">Monto:</label> <input type="number"
									class="form-control" th:field="*{moneypayment}" id="monto"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('moneypayment')}"
									th:errors="*{moneypayment}"></div>
							</div>

							<div class="form-group">
								<label for="persona">Persona:</label> <select
									class="form-control" th:field="*{persona.idPersona}">
									<option th:each="p: ${listaPersonas}" th:value="${p.idPersona}"
										th:text="${p.username}"
										th:selected="(${p.idPersona} == *{persona.idPersona})">
									</option>
								</select>
							</div>

						</div>
						<button type="submit" class="btn btn-primary">Aceptar</button>
						<a href="/deuda/listar" class="btn btn-danger">Cancelar</a>
					</form>

				</div>
			</div>
		</div>
	</div>

	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app2.js"></script>
</body>

</html>