<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Eventos</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	rel="stylesheet" />

</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar" id="panel"
		class="activepanel"></div>

	<div class="bg row">
		<div th:replace="fragments/nav :: nav" class="row topbar col-lg-12"></div>
		<div class="container">
			<div class="row">
				<form id="myform">


					<div class="col-md-12 column">

						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#exampleModalLong">Modal ejemplo</button>


						<a style="border-bottom-color: green"
							th:href="@{/prueba/irBuscar}" id="add-row" type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-search"></span> Buscar
						</a>

						<table class="table table-bordered table-hover table-striped"
							id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">NOMBRE</th>
									<th class="text-center">NOTA</th>

									<th class="text-center">PONDERADO</th>
									<th class="text-center">TIPO EVENTO</th>
									

									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="prueba: ${listaPruebas}">
									<td th:text="${prueba.idPrueba}"></td>
									<td th:text="${prueba.namePrueba}"></td>
									<td th:text="${prueba.NumberGrade}"></td>
									<td th:text="${prueba.Numberweighted}"></td>

									<td th:text="${prueba.Tevento.nombreTipoEvento}"></td>
									
									<td><a th:href="@{/prueba/eliminar?id=}+${prueba.idPrueba}">Eliminar</a></td>
									<td><a th:href="@{'/prueba/modificar/'}+${prueba.idPrueba}">Modificar</a></td>
								</tr>
							</tbody>
						</table>

					</div>
					<div th:if="${mensaje}" class="alert alert-danger">
						<p th:text="${mensaje}"></p>
					</div>
				</form>
			</div>

		</div>

		<div class="modal fade" id="exampleModalLong" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLongTitle"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">AGREGAR</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form th:action="@{/prueba/registrar}" method="post"
							th:object="${prueba}">
							<div class="form-group">

								<label for="idPrueba">ID:</label> <input type="text"
									class="form-control" th:field="*{idPrueba}"></input>


								<div class="form-group">
									<label for="nombre">NOMBRE:</label> <input type="text"
										class="form-control" th:field="*{namePrueba}" id="nombre"></input>

									<div class="alert alert-danger"
										th:if="${#fields.hasErrors('namePrueba')}"
										th:errors="*{namePrueba}"></div>
								</div>


								<div class="form-group">
									<label for="nota">NOTA:</label> <input type="number"
										class="form-control" th:field="*{NumberGrade}"
										id="numerodenota"></input>

									<div class="alert alert-danger"
										th:if="${#fields.hasErrors('NumberGrade')}"
										th:errors="*{NumberGrade}"></div>
								</div>


								<div class="form-group">
									<label for="Ponderado">PONDERADO:</label> <input type="number"
										class="form-control" th:field="*{Numberweighted}"
										id="ponderado"></input>

									<div class="alert alert-danger"
										th:if="${#fields.hasErrors('Numberweighted')}"
										th:errors="*{Numberweighted}"></div>
								</div>


								<div class="form-group">
									<label for="TIEVENTO">TIPO EVENTO</label> <select
										class="form-control" th:field="*{Tevento.idTipoEvento}">
										<option th:each="p: ${listaTipoEventos}"
											th:value="${p.idTipoEvento}" th:text="${p.nombreTipoEvento}"
											th:selected="(${p.idTipoEvento} == *{Tevento.idTipoEvento})">
										</option>
									</select>
								</div>

							</div>
							<button type="submit" class="btn btn-primary">Aceptar</button>
							<a href="/prueba/listar" class="btn btn-danger">Cancelar</a>
						</form>
					</div>
				</div>


			</div>

		</div>
	</div>









	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
</body>

</html>