<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Notificaciones</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
				
	</head>

	<body oncontextmenu="return false" class="snippet-body" id="body-pd">
    	<div th:replace="fragments/header :: header"> </div>
		<div class="container">
    		<form th:action="@{/notificaciones/registrar}" method="post" th:object="${notificaciones}">
    			<div class="form-group">
    			
    				<label for="idNotificaciones">ID:</label>
    				<input type="text" class="form-control" th:field="*{idNotificaciones}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nombreNotificacion}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombreNotificacion')}" 
								th:errors="*{nombreNotificacion}">
						</div>    					
    				</div>
    				
    				<div class="form-group">
    					<label for="nombre">DESCRIPCION:</label>
    					<input type="text" class="form-control" th:field="*{desNotifiacion}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('desNotifiacion')}" 
								th:errors="*{desNotifiacion}">
						</div>    					
    				</div>
    				
    				<div class="form-group">
    					<label for="evento">EVENTO</label>
    					<select class="form-control" th:field="*{evento.idEvento}">
    						<option th:each="e: ${listaEventos}"
    							th:value="${e.idEvento}"
    							th:text="${e.nombreEvento}"
    							th:selected="(${e.idEvento} == *{evento.idEvento})">
    						</option>    					
    					</select>
    				</div>    
 				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/notificaciones/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
		 	
    	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>