<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Persona</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
				
	</head>

	<body>
    	<div class="container">
    		<form th:action="@{/persona/registrar}" method="post" th:object="${persona}">
    			<div class="form-group">
    				<label for="idPersona">ID:</label>
    				<input type="text" class="form-control" th:field="*{idPersona}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nombrePersona}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombrePersona')}" 
								th:errors="*{nombrePersona}">
						</div>    					
 
    				<div class="form-group">
    					<label for="contrasena">CONTRASEÑA:</label>
    					<input type="text" class="form-control" th:field="*{contrasenaPersona}" id="contrasena"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('contrasenaPersona')}" 
								th:errors="*{contrasenaPersona}">
						</div>    					
    				</div>
    				
    				<div class="form-group">
    					<label for="claseper">TIPO PERSONA:</label>
    					<input type="text" class="form-control" th:field="*{tipoPersona}" id="claseper"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('tipoPersona')}" 
								th:errors="*{tipoPersona}">
						</div>    					
    				</div>
    				
    				<div class="form-group">
    					<label for="salario">SUELDO:</label>
    					<input type="number" class="form-control" th:field="*{sueldoPersona}" id="salario"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('sueldoPersona')}" 
								th:errors="*{sueldoPersona}">
						</div>    					
    				</div>
    
   				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/persona/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
	</body>

</html>