<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Tipo Evento</title>
		
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
				
	</head>

	<body oncontextmenu="return false" class="snippet-body" id="body-pd">
    	<div th:replace="fragments/header :: header"> </div>
		<div class="container">
    		<form th:action="@{/eventopagina/registrarTipoEvento}" method="post" th:object="${tipoevento}">
    			<div class="form-group">
    				<label for="idTipoEvento">ID:</label>
    				<input type="text" class="form-control" th:field="*{idTipoEvento}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nombreTipoEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nombreTipoEvento')}" 
								th:errors="*{nombreTipoEvento}">
						</div>    					
    				</div>
   	
    				</div>    
    				<div class="form-group">
    					<label for="nombre">DESCRIPCION:</label>
    					<input type="text" class="form-control" th:field="*{descripcionTipoEvento}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('descripcionTipoEvento')}" 
								th:errors="*{descripcionTipoEvento}">
						</div>    					
    				</div>
    		
   				
    			
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/eventopagina/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    		</div>
    	
    		<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>

	</body>

</html>