<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Estadisticas</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500;600;700&family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">



<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>
    
<link rel="stylesheet" href="/css/style.css">
    
    
</head>
<body style="font-family: sans-serif;  background-color: #f9fbff;" oncontextmenu="return false" class="snippet-body" id="body-pd">
    	<div th:replace="fragments/header :: header"> </div>    
    	
    	<div class="container1">
    		<div class="row"> 
				<div  class="midiv2"> 
        			<div id="chart_div" class="contabla2"></div>
        		</div>
        		<div  class="midiv2"> 
        			<div id="piechart" class="contabla2"></div>
        		</div>
        		<div  class="midiv2"> 
        			<div id="bubble" class="contabla"></div>
        		</div>    
        		<div  class="midiv2"> 
        		<div id="piechart2" class="contabla2"></div>
        		</div>	 
           		
        	</div>
    	</div>
    
    <script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';
        var real_data2 = /*[[${chartData2}]]*/'noValue';
        var real_data3 = /*[[${chartData3}]]*/'noValue';
        var real_data4 = /*[[${chartData4}]]*/'noValue';
        
        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar','gauge']
            });
            google.charts.setOnLoadCallback(drawColumnChart);
            google.charts.setOnLoadCallback(drawPieChart);
            google.charts.setOnLoadCallback(BubbleChart);
            google.charts.setOnLoadCallback(drawColumnChart2);
            
        });
        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'TipoEvento');
            data.addColumn('number', 'Eventos');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
            		width: $(window).width()*0.8,
                    height: $(window).height()*0.3,

                title : 'Eventos por tipo de evento',
                hAxis : {
                    title : 'Tipo eventos',
                },
                vAxis : {
                    title : '# deEventos'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('chart_div'));
            chart.draw(data, options);
        }
        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Evento');
            data.addColumn('number', 'Complejidad');
            Object.keys(real_data2).forEach(function(key) {
                data.addRow([ key, real_data2[key] ]);
            });
            var options = {
                title : 'Distribución de complejidad según eventos',

            };
            var chart = new google.visualization.PieChart(document
                    .getElementById('piechart'));
            chart.draw(data, options);
        }

        function BubbleChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Evento');
            data.addColumn('number', 'Importancia');

            Object.keys(real_data3).forEach(function(key) {
                data.addRow([ key, real_data3[key] ]);
            });
            var options = {
                    title : 'Distribución de importancia según eventos',
                    height: $(window).height()*0.2,
                    redFrom: 9, redTo: 10,
                    yellowFrom:7, yellowTo: 9,
                    minorTicks: 5,
                    max: 10
                  };

            var chart = new google.visualization.Gauge(document.getElementById('bubble'));

            chart.draw(data, options);
          }

        function drawColumnChart2() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Estado');
            data.addColumn('number', 'Cantidad');
            Object.keys(real_data4).forEach(function(key) {
                data.addRow([ key, real_data4[key] ]);
            });
            var options = {
                title : 'Cantidad los pendientes registrados, segun su estado',
                width: $(window).width()*0.8,
                height: $(window).height()*0.3,
                hAxis : {
                    title : 'Cantidad',
                },
                vAxis : {
                    title : 'Estados de pendientes',
                }
            };
            var chart = new google.visualization.BarChart(document
                    .getElementById('piechart2'));
            chart.draw(data, options);
        }
    </script>
    
	<script src="/js/app2.js"></script>
</body>
</html>