<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Pruebas</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dive.css">
<link rel="stylesheet" href="/css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	rel="stylesheet" />
<link rel="stylesheet" href="/css/tablas.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500;600;700&family=Poppins:wght@400;600;700;800&display=swap"
	rel="stylesheet">

</head>

<body>
<body oncontextmenu="return false" class="snippet-body" id="body-pd">
	<div th:replace="fragments/header :: header"></div>
	<div class="container1">
		<div class="row">
			<form id="myform" th:action="@{/prueba/buscar}" method="post"
				th:object="${prueba}">


				<div class="col-md-12 column">
					<div class="midiv" style="box-shadow: none;">
						<div class="row" style="align-items: center">
							<div style="margin-left: 20px">

								<button type="button" class="botones uno btn btn-primary"
									data-toggle="modal" data-target="#exampleModalLong">+</button>

							</div>


							<div class="col-6">

								<input type="text" class="form-control" th:field="*{namePrueba}"
									id="buscar" placeholder="Buscar por nombre o tipo evento">

							</div>
							<div>

								<button type="submit" class="botones dos btn btn-primary">Buscar
									Prueba</button>
							</div>

							<div>

								<a href="/prueba/listar" style="background-color: #FF3399; border-color: #FF3399;" class="botones dos btn btn-primary">Cancelar</a>
							</div>

						</div>

					</div>


				<div class="contabla">
					<table class="content-table" id="tab_logic">

						<thead>
							<tr>
								<th class="text-center">Codigo</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Calificacion</th>

								<th class="text-center">Ponderado</th>
								<th class="text-center">Tipo Evento</th>


								<th class="text-center">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="prueba: ${listaPruebas}">
								<td class="text-center" th:text="${prueba.idPrueba}"></td>
								<td class="text-center" th:text="${prueba.namePrueba}"></td>
								<td class="text-center" th:text="${prueba.NumberGrade}"></td>
								<td class="text-center" th:text="${prueba.Numberweighted}"></td>

								<td class="text-center"
									th:text="${prueba.Tevento.nombreTipoEvento}"></td>

								<td class="text-center"><a
									th:href="@{'/prueba/modificar/'}+${prueba.idPrueba}"><i
										class="icono edit bx bxs-pen nav_icon"> </i></a> <a
									th:href="@{/prueba/eliminar?id=}+${prueba.idPrueba}"><i
										class="icono delete bx bxs-trash nav_icon"> </i></a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
					</div>
				</div>
								</div>
					</form>
				
		</div>
	</div>

	<div class="modal fade" id="exampleModalLong" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLongTitle"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Prueba</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form th:action="@{/prueba/registrar}" method="post"
						th:object="${prueba}">
						<div class="form-group">

							<label for="idPrueba">ID:</label> <input type="text"
								class="form-control" th:field="*{idPrueba}"></input>


							<div class="form-group">
								<label for="nombre">Nombre:</label> <input type="text"
									class="form-control" th:field="*{namePrueba}" id="nombre"
									th:errorclass="'form-control alert-danger'"></input>
								<small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('namePrueba')}" th:errors="*{namePrueba}"></small>
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('namePrueba')}"
									th:errors="*{namePrueba}"></div>
							</div>


							<div class="form-group">
								<label for="nota">Calificacion:</label> <input type="number"
									class="form-control" th:field="*{NumberGrade}"
									id="numerodenota"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('NumberGrade')}"
									th:errors="*{NumberGrade}"></div>
							</div>


							<div class="form-group">
								<label for="Ponderado">Ponderado:</label> <input type="number"
									class="form-control" th:field="*{Numberweighted}"
									id="ponderado"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('Numberweighted')}"
									th:errors="*{Numberweighted}"></div>
							</div>


							<div class="form-group">
								<label for="TIEVENTO">Tipo Evento:</label> <select
									class="form-control" th:field="*{Tevento.idTipoEvento}">
									<option th:each="p: ${listaTipoEventos}"
										th:value="${p.idTipoEvento}" th:text="${p.nombreTipoEvento}"
										th:selected="(${p.idTipoEvento} == *{Tevento.idTipoEvento})">
									</option>
								</select>
							</div>

						</div>
						<button type="submit" class="btn btn-primary">Aceptar</button>
						<a href="/prueba/listar" class="btn btn-danger">Cancelar</a>
					</form>
					<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
				</div>
			</div>


		</div>

	</div>


	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dive.js"></script>
	<script src="/js/app2.js"></script>
</body>

</html>