<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Eventos</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	rel="stylesheet" />
<link rel="stylesheet" href="/css/tablas.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500;600;700&family=Poppins:wght@400;600;700;800&display=swap"
	rel="stylesheet">

</head>

<body style="font-family: sans-serif;" oncontextmenu="return false"
	class="snippet-body" id="body-pd">
	<div th:replace="fragments/header :: header"></div>

	<div class="container1">
		<div class="row">
			<form id="myform" th:action="@{/eventopagina/buscarEvento}"
				method="post" th:object="${evento}">
				<div class="col-md-12 column">

					<div class="midiv">

						<div class="row" style="align-items: center;">

							<div style="margin-left: 20px">
								<button type="button" class="botones uno btn btn-primary"
									data-toggle="modal" data-target="#exampleModalLong">+</button>
							</div>
							<div class="col-6">

								<input type="text" class="form-control"
									th:field="*{nombreEvento}" id="buscar"
									placeholder="Buscar por nombre o tipo evento">
								</input>
							</div>

							<div>
								<button type="submit" class="botones dos btn btn-primary">Buscar
									Evento</button>
							</div>

							<div>

								<a href="/eventopagina/listar"
									style="background-color: #FF3399; border-color: #FF3399;" class="botones dos btn btn-primary">Cancelar</a>
							</div>

						</div>
					</div>


					<div class="contabla">
						<table class="content-table" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">Nombre</th>
									<th class="text-center">Fecha</th>
									<th class="text-center">Descripcion</th>
									<th class="text-center">Tipo Evento</th>
									<th class="text-center">Complejidad</th>
									<th class="text-center">Prioridad</th>
									<th class="text-center">Importancia</th>			
									<th class="text-center">Operaciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="eventopagina: ${listaEventos}">
									<td class="text-center" th:text="${eventopagina.nombreEvento}"></td>
									<td class="text-center"
										th:text="${#dates.format(eventopagina.fechaEvento, 'dd/MM/yyyy')}"></td>
									<td class="text-center"
										th:text="${eventopagina.descripcionEvento}"></td>
									<td class="text-center"
										th:text="${eventopagina.tipoEvento.nombreTipoEvento}"></td>
									<td class="text-center"
										th:text="${eventopagina.numcomplejidad}"></td>
									<td class="text-center" th:text="${eventopagina.numprioridad}"></td>
									<td class="text-center"
										th:text="${eventopagina.numimportancia}"></td>


									<td class="text-center"><a
										th:href="@{'/eventopagina/modificarEvento/'}+${eventopagina.idEvento}"><i
											class="icono edit bx bxs-pen nav_icon"> </i></a> <a
										th:href="@{/eventopagina/eliminarEvento?id=}+${eventopagina.idEvento}"><i
											class="icono delete bx bxs-trash nav_icon"> </i></a></td>
								</tr>
							</tbody>
						</table>
						<div th:if="${mensaje}" class="alert alert-danger">
							<p th:text="${mensaje}"></p>
					</div>
					</div>
				</div>
			</form>
		</div>
		
	</div>

	<div class="container1">
		<div class="row">
			<form id="myform" th:action="@{/eventopagina/buscarTipoEvento}"
				method="post" th:object="${tipoevento}">

				<div class="col-md-12 column">

					<div class="midiv">

						<div class="row" style="align-items: center">

							<div style="margin-left: 20px">


								<button type="button" class="botones uno btn btn-primary"
									data-toggle="modal" data-target="#exampleModalLong2">+</button>

							</div>

							<div class="col-6">


								<input type="text" class="form-control"
									th:field="*{nombreTipoEvento}" id="buscar"
									placeholder="Buscar por nombre"> </input>

							</div>

							<div>


								<button type="submit"
									class="botones dos btn btn-primary">Buscar TipoEvento</button>

							</div>
							<div>

								<a href="/eventopagina/listar"
									style="background-color: #FF3399; border-color: #FF3399;" class="botones dos btn btn-primary">Cancelar</a>
							</div>

						</div>

					</div>
					<div class="contabla">

						<table
							class="content-table" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">Codigo</th>
									<th class="text-center">Nombre</th>
									<th class="text-center">Descripcion</th>
									<th class="text-center">Operaciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tipoeventopagina: ${listaTipoEventos}">
									<td class="text-center"
										th:text="${tipoeventopagina.idTipoEvento}"></td>
									<td class="text-center"
										th:text="${tipoeventopagina.nombreTipoEvento}"></td>
									<td class="text-center"
										th:text="${tipoeventopagina.descripcionTipoEvento}"></td>
									<td class="text-center"><a
										th:href="@{'/eventopagina/modificarTipoEvento/'}+${tipoeventopagina.idTipoEvento}"><i
											class="icono edit bx bxs-pen nav_icon"> </i></a> <a
										th:href="@{/eventopagina/eliminarTipoEvento?id=}+${tipoeventopagina.idTipoEvento}"><i
											class="icono delete bx bxs-trash nav_icon"> </i></a></td>
								</tr>
							</tbody>
						</table>
						<div th:if="${mensaje}" class="alert alert-danger">
							<p th:text="${mensaje}"></p>
					</div>
					</div>
				</div>
			</form>
		</div>
		
	</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLongTitle"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Evento</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form th:action="@{/eventopagina/registrarEvento}" method="post"
						th:object="${evento}">
						<div class="form-group">
							<label for="idEvento">ID:</label> <input type="text"
								class="form-control" th:field="*{idEvento}"></input>

							<div class="form-group">
								<label for="nombre">Nombre:</label> <input type="text"
									class="form-control" th:field="*{nombreEvento}" id="nombre"  required="true"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('nombreEvento')}"
									th:errors="*{nombreEvento}"></div>
							</div>
							<div class="form-group">
								<label for="fecha">Fecha:</label> <input type="date"
									class="form-control" th:field="*{fechaEvento}" id="fecha"  required="true"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('fechaEvento')}"
									th:errors="*{fechaEvento}"></div>
							</div>
							<div class="form-group">
								<label for="nombre">Descripcion:</label> <input type="text"
									class="form-control" th:field="*{descripcionEvento}"
									id="nombre"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('descripcionEvento')}"
									th:errors="*{descripcionEvento}"></div>
							</div>
							<div class="form-group">
								<label for="complej">Complejidad:</label> <input type="number"
									class="form-control" th:field="*{numcomplejidad}" id="complej" min=0 max=5  required="true"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('numcomplejidad')}"
									th:errors="*{numcomplejidad}" min=0 max=5></div>
							</div>
							<div class="form-group">
								<label for="priori">Prioridad:</label> <input type="number"
									class="form-control" th:field="*{numprioridad}" id="priori"  min=0 max=5  required="true"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('numprioridad')}"
									th:errors="*{numprioridad}"></div>
							</div>
							<div class="form-group">
								<label for="impor">Importancia:</label> <input type="number"
									class="form-control" th:field="*{numimportancia}" id="impor"  min=0 max=5  required="true"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('numimportancia')}"
									th:errors="*{numimportancia}"></div>
							</div>
							

							<div class="form-group">
								<label for="tipoevento">Tipo Evento</label> <select
									class="form-control" th:field="*{tipoEvento.idTipoEvento}">
									<option th:each="t: ${listaTipoEventos}"
										th:value="${t.idTipoEvento}" th:text="${t.nombreTipoEvento}"
										th:selected="(${t.idTipoEvento} == *{tipoEvento.idTipoEvento})">
									</option>
								</select>
							</div>

						</div>
						<button type="submit" class="btn btn-primary">Aceptar</button>
						<a href="/eventopagina/listar" class="btn btn-danger">Cancelar</a>
					</form>

				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="exampleModalLong2" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLongTitle2"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle2">Tipo
						Evento</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form th:action="@{/eventopagina/registrarTipoEvento}"
						method="post" th:object="${tipoevento}">
						<div class="form-group">
							<label for="idEvento">ID:</label> <input type="text"
								class="form-control" th:field="*{idTipoEvento}"></input>

							<div class="form-group">
								<label for="nombre">Nombre:</label> <input type="text"
									class="form-control" th:field="*{nombreTipoEvento}" id="nombre"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('nombreTipoEvento')}"
									th:errors="*{nombreTipoEvento}"></div>
							</div>

							<div class="form-group">
								<label for="nombre">Descripcion:</label> <input type="text"
									class="form-control" th:field="*{descripcionTipoEvento}"
									id="nombre"></input>

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('descripcionTipoEvento')}"
									th:errors="*{descripcionTipoEvento}"></div>
							</div>
							<div class="form-group">
								<label for="persona">Persona</label> <select
									class="form-control" th:field="*{persona.idPersona}">
									<option th:each="p: ${listaPersonas}" th:value="${p.idPersona}"
										th:text="${p.username}"
										th:selected="(${p.idPersona} == *{persona.idPersona})">
									</option>
								</select>
							</div>

						</div>
						<button type="submit" class="btn btn-primary">Aceptar</button>
						<a href="/eventopagina/listar" class="btn btn-danger">Cancelar</a>
					</form>

				</div>
			</div>
		</div>
	</div>

	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/app2.js"></script>
</body>

</html>