<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ON TIME</title>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous" />
<link
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script src="../../static/js/app2.js"></script>

</head>

<body oncontextmenu="return false" class="snippet-body" id="body-pd">

	<div th:fragment="sidebar">
		<header class="header" id="header">
			<div class="header_toggle">
				<i class="bx bx-menu" id="header-toggle"></i>

			</div>
			<div class="container1">
				<div class="header_icon">
					<i class="bx bxs-user-circle "></i>
				</div>
				<p class="header_text">#usuario</p>
			</div>

		</header>
		
			
			
		<div class="l-navbar" id="nav-bar">
			<nav class="nav">
				<div>
					<div class="logo">
						<img class="logo_img" href="#" src="img/logo.png"></img>

					</div>
					<div class="nav_list">
						<a href="tablero.html" class="nav_link active"> <i
							class="bx bx-grid-alt nav_icon"></i> <span class="nav_name">Tablero</span>
						</a> <a href="horario.xhtml" class="nav_link"> <i
							class="bx bx-calendar-alt nav_icon"></i> <span class="nav_name">Horario</span>
						</a> <a href="evento.html" class="nav_link"> <i
							class="bx bx-bell na_icon"> </i> <span class="nav_name">Eventos</span>
						</a> <a href="notificaciones.html" class="nav_link"> <i
							class="bx bx-alarm nav_icon"> </i> <span class="nav_name">Notificaciones</span>
						</a> <a href="album.html" class="nav_link"> <i
							class="bx bx-photo-album nav_icon"> </i> <span class="nav_name">Album</span>
						</a> <a th:href="@{/deuda/listar}" class="nav_link"> <i
							class="bx bxs-graduation nav_icon"> </i> <span class="nav_name">Deudas</span>
						</a> <a href="pruebas.html" class="nav_link"> <i
							class="bx bxs-graduation nav_icon"> </i> <span class="nav_name">Notas</span>
						</a>

					</div>
				</div>

				<a href="login.xhtml" class="nav_link"> <i
					class="bx bx-log-out nav_icon"> </i> <span class="nav_name">Signout</span>
				</a>
			</nav>
		</div>
	</div>

	<!--Container Main start-->


	<div>aaacacacac</div>

	<script src="../../static/app2.js">
    </script>
</body>

</html>