@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --nav-width: 4rem;
    --first-color: white;
    --first-color-light: #FFB133;
    --naranja-color: #FFB133;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --hover-colorText: #F7F6FB;
    --hover-color: #FFB133;

}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: #F5F5F5;
    font-family: sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--naranja-color);
    z-index: var(--z-fixed);
    transition: .5s
}


.header_toggle {
    color: var(--first-color);
    font-size: 2.3rem;
    cursor: pointer;
    float: right;
}

.header_icon {
    color: var(--first-color);
    position: relative;
    font-size: 2.3rem;
    height: 35px;
    display: flex;
    overflow: hidden
}

.container1 {
    
    display: flex;
    align-items: center;

}
.header_text {
    color: var(--first-color);
    display: flex;
    margin-top: 1rem;

}

.logo {
    width: 10rem;
    height: 1.rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
}
  
.logo_img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
  }

.header img {
    width: 2rem
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0 2rem 0 0;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    justify-content: space-between;
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
}

.nav_logo-name {
    color: var(--naranja-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--hover-colorText);
    background-color: var(--hover-color);
}

.nav_icon {
    font-size: 1.2rem;
   
}

.show {
    left: 0
}

.body-pd {
    padding-left: 1rem
}
.midiv{
    
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  padding: .7rem;
  margin: 1rem;
}

.midivtabla{
    
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  padding: .7rem;
  margin: 1rem;     
  height: 18rem; 
  
}




.active {
    color: var(--naranja-color)
}


.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--naranja-color)
}

.hlabels {
    color: gray;
    font-size: 1rem
}
.modal-title{
    font-weight: bold; 
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 0 0 0;
    }

    .header {
        height: 1rem;
        padding: 0 2rem 0
    }

    .header_img {
        width: 1px;
        height: 2px
    }

    .header_img img {
        width: 1rem
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}