* {
  font-family: sans-serif;
}

.subtitulos{
	font-weight: bold;
	font-size: 20px;
	font-family: Mukta, sans-serif;
	
}

body {
  font-family: Mukta, sans-serif;
  color: #4f546c;
  font-size: 0.9rem;
  background-color: #f9fbff;
}

 h1{
   font-family: Mukta, sans-serif;
   	font-weight: bold;
	font-size: 20px;
	display:inline;
 }
 
table {
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  margin: 1rem;
}
  thead {
    box-shadow: 0 5px 10px #e1e5ee;
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }

.botones{
	font-family: Mukta, sans-serif;
	margin-bottom: 15px;
	margin-right: 10px;
	background-color: #33CCFF;
	border-color: #33CCFF; 
  	font-weight: bold; 
}

.botones:hover{
	background-color: #00B3F2;
	border-color: #00B3F2;
}

.uno{
	border-radius: 50%;
}

.dos{
	border-radius: 5px 5px 5px 5px;
}

 .status-enproceso {
      background-color: #fff0c2;
      color: #a68b00;
    }

.status-completo {
      background-color: #c8e6c9;
      color: #388e3c;
    }

.status-incompleto {
      background-color: #ffcdd2;
      color: #c62828;
}

.icono{
	color: white;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	margin: 1.5px;
}

.delete{
	background-color: #FF3399;
}

.delete:hover{
	background-color: #E60073;
}

.edit{
	background-color: #33CCFF;
}

.edit:hover{
	background-color: #00B3F2;
}